<?xml version="1.0" encoding="UTF-8"?>
<Server version="8">
    <Name>OvenMediaEngine</Name>
    <Type>origin</Type>
    <IP>*</IP>

    <Bind>
        <Publishers>
            <WebRTC>
                <Signalling>
                    <Port>3333</Port>
                    <TLSPort>3334</TLSPort>
                </Signalling>
                <IceCandidates>
                    <IceCandidate>*:40000-40010/udp</IceCandidate>
                    <IceCandidate>*:9000/udp</IceCandidate>
                    <IceCandidate>*:3478/tcp</IceCandidate>
                </IceCandidates>
                <IceServers>
                    <IceServer>
                        <Urls>
                            <Url>stun:stun.l.google.com:19302</Url>
                        </Urls>
                    </IceServer>
                    <IceServer>
                        <Urls>
                            <Url>turn:variphi:variphi2024@turn.variphi.com:3478</Url>
                        </Urls>
                    </IceServer>
                    <IceServer>
                        <Urls>
                            <Url>turn:arresto:arresto1234@turn.arresto.com:3478</Url>
                        </Urls>
                    </IceServer>
                </IceServers>
            </WebRTC>
        </Publishers>
        <Providers>
            <RTMP>
                <Port>1938</Port>
            </RTMP>
        </Providers>
    </Bind>

    <VirtualHosts>
        <VirtualHost>
            <Name>default</Name>
            <Host>
                <Names>
                    <Name>*</Name>
                </Names>
            </Host>
            <Applications>
                <Application>
                    <Name>app</Name>
                    <Type>live</Type>
                    <Providers>
                        <RTMP />
                    </Providers>
                    <OutputProfiles>
                        <OutputProfile>
                            <Name>bypass_video_only</Name>
                            <OutputStreamName>${OriginStreamName}</OutputStreamName>
                            <Encodes>
                                <Video><Bypass>true</Bypass></Video>
                                <!-- Remove audio for WebRTC stability -->
                            </Encodes>
                        </OutputProfile>
                    </OutputProfiles>
                    <Publishers>
                        <WebRTC>
                            <Timeout>300000</Timeout>
                            <Rtx>true</Rtx>
                            <Ulpfec>true</Ulpfec>
                        </WebRTC>
                    </Publishers>
                </Application>
            </Applications>
        </VirtualHost>
    </VirtualHosts>
</Server>